.btn{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #04D9D9;
    box-shadow: 0 0 15px 3px;
    border: none;
}

.tbn__link{
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.btn--atividade{
    display: none;
}

/* Apresentacao inicial */
.apresentacao{
    width: 100%;
    height: 60vh;
    padding-top: 10vh;

    background: url('../assets/recepcao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.Apresentacao--flex{
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: left;
}

.Apresentacao_titulo{
    margin-left: 20px;
    align-items: center;

    color: #fff;
    font-weight: normal;
}

/* Sobre */

.sobre--flex{
    display: flex;
    flex-flow: column nowrap;
}

.sobre__apresentacao,.Especialidades__apresentacao{
    padding-top: 10vh;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.sobre__paragrafo,.Especialidades__paragrafo{
    padding: 10px;
}

.sobre__conteudo--flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.sobre__img--estado{
    display: static;
}

.sobre__descricao__titulo{
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    padding: 20px 0;
}

.sobre__ul{
    margin-left: 10px;
}

/* Especialidades */
/* o titulo de apresentações estão juntos em sobre__apresentacao*/

.Especialidades__Galeria{
    margin-top: 30px;
}

.Especialidades--flex{
    display: flex;
    flex-flow: column nowrap;
}

.Galeria--flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.Especialidades__caixa{
    background-color: white;
    box-shadow: 0 0 15px;
    border-radius: 5px;
    
}

.caixa--flex{
    display: flex;
    flex-flow: column nowrap;
    width: calc((100% / 3 ) - 60px );
}

.Especialidades__img{
    border-radius: 5px 5px 0 0;
}

.Especialidades__container-p{
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Especialidades__link{
    width: 120px;
    margin: 35px auto 0 auto;
    background-color: #04D9D9;
    padding: 15px 20px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    color: #fff;
}

.Especialidades__link:hover{
    color: #265D73;
}

/* Contato */
.contato{
    padding-top: 10vh;
}

.contato--flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contato__titulo{
    box-sizing: border-box;
    margin: 5px;
}

.contato__paragrafo{
    width: 60%;
    text-align: center;
    margin: 10px;
}

.mapa{
    box-sizing: border-box;
}

@media (max-width: 425px){
    .btn--atividade{
        display: revert;
    }

    .apresentacao{
        width: 100%;
        height: 200px;
        padding: 0;
    }

    .Apresentacao_titulo{
        font-size: 18px;
    }

    .sobre__apresentacao, .Especialidades__apresentacao{
        padding-top: 30px;
        width: 100%;
    }

    .sobre--flex{
        align-items: center;
        justify-content: center;
    }
    
    .sobre__img--estado{
        display: none;
    }

    .sobre__ul{
        margin-left: 30px;
    }

    .Galeria--flex{
        flex-flow: column wrap;
        width: 100%;
        align-items: center;
    }

    .caixa--flex{
        width: 90%;
        margin: 20px;
    }

    .contato__paragrafo{
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .btn--atividade{
        display: revert;
    }

    .apresentacao{
        width: 100%;
        height: 300px;
    }

    .sobre__apresentacao, .Especialidades__apresentacao{
        padding-top: 20px;
        width: 80%;
    }

    .sobre__img--estado{
        display: none;
    }

    .sobre__ul{
        margin-left: 30px;
    }

    .Galeria--flex{
        flex-flow: row wrap;
    }

    .caixa--flex{
        width: calc((100% /3 ) - 10px );
        margin: 20px;
    }

    .contato{
        padding-top: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .apresentacao{
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 1024px){
    .apresentacao{
        width: 100%;
        height: 500px;
    }
}

